# Disable directory browsing
Options -Indexes

# Disable script execution
php_flag engine off
RemoveHandler .php .phtml .php3 .php4 .php5

# Ensure PDF files are served with correct MIME type
AddType application/pdf .pdf

# Deny everything by default
Order Deny,Allow
Deny from all

# Only allow PDF files
<FilesMatch "\.(pdf)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Prevent access to hidden files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
